<!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Localize um centro de acolhimento de crianças | Happy</title>
    <link
      rel="stylesheet"
      href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin=""
    />
    <!-- Interactive MAP-->
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script
      src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
      integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
      crossorigin=""
    ></script>

    <link rel="icon" href="./public/images/logo-icon.png" />
    <link rel="stylesheet" href="./public/css/main.css" />
    <link rel="stylesheet" href="./public/css/animations.css" />
    <link rel="stylesheet" href="./public/css/page-children_home.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="page-children_home">
      <aside class="animate-right">
        <!-- Barra lateral -->
        <header>
          <img src="./public/images/map-marker.svg" alt="Happy" />

          <h2>Escolha um centro de acolhimento no mapa</h2>

          <p>Muitas crianças estão esperando a sua visita!</p>
        </header>

        <footer>
          <strong>Porto</strong>
          <p>Portugal</p>
        </footer>
      </aside>

      <div id="mapid" class="animate-appear"></div>

      <a
        href="create-children_home.html"
        class="create-children_home"
        title="Cadastre um lar de crianças"
      >
        <img src="./public/images/plus.svg" alt="Criar orfanato" />
      </a>
    </div>

    <script src="./public/scripts/page-children_home.js"></script>
  </body>
</html>
